<!-- Model-Driven -->
<div class="container">
  <form [formGroup]="form">
    <div formArrayName="formAr">
    <div class="profile" *ngFor="let profile of form.controls.formAr.controls; let i=index" [formGroupName]="i">
      <h2>基本資料</h2> <button (click)="remove(i)">X</button>
      <div class="form-group">
        <label>請輸入名字</label>
        <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="請輸入名字">
        <div *ngIf="profile.controls.firstName.errors">
          <span *ngIf="profile.controls.firstName.valid">合格</span>
          <span *ngIf="profile.controls.firstName.errors.required">必填項目</span>
          <span *ngIf="profile.controls.firstName.errors.minlength">欄位長度不足</span>
        </div>
      </div>
      <div class="form-group">
        <label>請輸入英文名</label>
        <input type="text" class="form-control" id="nickName" formControlName="nickName" placeholder="請輸入英文名">
      </div>
      <div class="form-group">
        <label>請輸入Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" placeholder="請輸入Email">
        <div *ngIf="profile.controls.email.errors">
          <span *ngIf="profile.controls.email.valid">合格</span>
          <span *ngIf="profile.controls.email.errors.required">必填項目</span>
          <span *ngIf="profile.controls.email.errors.pattern">請輸入正確的 email</span>
        </div>
      </div>
      <div class="form-group">
        <label>請輸入電話</label>
        <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="請輸入電話">
      </div>
      <div class="form-group">
        <label>請輸入生日</label>
        <input type="text" class="form-control" id="birthday" formControlName="birthday" placeholder="yyyy/mm/dd">
      </div>
      <h3>請選擇興趣</h3>
      <div class="form-group" formGroupName="interest">
        <label>
          <input type="checkbox" id="movie" formControlName="movie" value="movie"> 電影
        </label>
        <label>
          <input type="checkbox" id="music" formControlName="music" value="music"> 音樂
        </label>
        <label>
          <input type="checkbox" id="technology" formControlName="technology" value="technology"> 技術
        </label>
        <label>
          <input type="checkbox" id="sports" formControlName="sports" value="sports"> 運動
        </label>
        <label>
          <input type="checkbox" id="games" formControlName="games" value="games"> 遊戲
        </label>
      </div>
      <h3>性別</h3>
      <div class="form-group">
        <label>
          <input type="radio" id="male" formControlName="sex" value="male"> 漢子
        </label>
        <label>
          <input type="radio" id="female" formControlName="sex" value="female"> 妹子
        </label>
      </div>
    </div>
    <button type="button" class="btn btn-default" (click)="add()">下一位</button>
    </div>
  </form>
</div>

<pre>
  {{ form.value | json }}
</pre>
