<!-- Model-Driven -->
<div class="container">
  <form [formGroup]="form">
    <div class="profile">
      <h2>基本資料</h2>
      <div class="form-group">
        <label>請輸入名字</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="請輸入名字">
      </div>
      <div class="form-group">
        <label>請輸入英文名</label>
        <input type="text" class="form-control" id="nickName" name="nickName" placeholder="請輸入英文名">
      </div>
      <div class="form-group">
        <label>請輸入Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="請輸入Email">
      </div>
      <div class="form-group">
        <label>請輸入電話</label>
        <input type="text" class="form-control" id="phone" name="phone" placeholder="請輸入電話">
      </div>
      <div class="form-group">
        <label>請輸入生日</label>
        <input type="text" class="form-control" id="birthday" name="birthday" placeholder="yyyy/mm/dd">
      </div>
      <h3>請選擇興趣</h3>
      <div class="form-group">
        <label>
          <input type="checkbox" id="movie" name="movie" value="movie"> 電影
        </label>
        <label>
          <input type="checkbox" id="music" name="music" value="music"> 音樂
        </label>
        <label>
          <input type="checkbox" id="technology" name="technology" value="technology"> 技術
        </label>
        <label>
          <input type="checkbox" id="sports" name="sports" value="sports"> 運動
        </label>
        <label>
          <input type="checkbox" id="games" name="games" value="games"> 遊戲
        </label>
      </div>
      <h3>性別</h3>
      <div class="form-group">
        <label>
          <input type="radio" id="male" name="sex" value="male"> 漢子
        </label>
        <label>
          <input type="radio" id="female" name="sex" value="female"> 妹子
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-default">下一位</button>
  </form>
</div>

<pre>
  {{ form.value | json }}
</pre>
