<!-- Model-Driven -->
<div class="container">
  <form [formGroup]="form">
    <div formArrayName="profiles" *ngIf="form.controls['profiles']">
      <h2>基本資料</h2>
      <div
        class="profile"
        *ngFor="let profile of formAr.controls; let i = index"
      >
        <div [formGroupName]="i">
          <button type="button" (click)="remove(i)">Delete</button>
          <div class="form-group">
            <label>請輸入名字</label>
            <input
              type="text"
              class="form-control"
              [id]="'firstName' + i"
              formControlName="firstName"
              placeholder="請輸入名字"
            />
            <div
              *ngIf="
                profile.get('firstName')?.errors &&
                profile.get('firstName')?.invalid
              "
            >
              <span *ngIf="profile.get('firstName')?.valid">合格</span>
              <span *ngIf="profile.get('firstName')?.errors?.['required']"
                >必填項目</span
              >
              <span *ngIf="profile.get('firstName')?.errors?.['minlength']"
                >欄位長度不足</span
              >
            </div>
          </div>
          <div class="form-group">
            <label [for]="'nickName' + i">請輸入英文名</label>
            <input
              type="text"
              [id]="'nickName' + i"
              class="form-control"
              formControlName="nickName"
              placeholder="請輸入英文名"
            />
          </div>

          <div class="form-group">
            <label [for]="'email' + i">請輸入Email</label>
            <input
              type="email"
              [id]="'email' + i"
              class="form-control"
              formControlName="email"
              placeholder="請輸入Email"
            />
            <div *ngIf="profile.get('email')?.errors">
              <span *ngIf="profile.get('email')?.valid">合格</span>
              <span *ngIf="profile.get('email')?.errors?.['required']"
                >必填項目</span
              >
              <span *ngIf="profile.get('email')?.errors?.['pattern']"
                >請輸入正確的 email</span
              >
            </div>
          </div>

          <div class="form-group">
            <label>請輸入電話</label>
            <input
              type="text"
              class="form-control"
              formControlName="phone"
              placeholder="請輸入電話"
            />
          </div>
          <div class="form-group">
            <label [for]="'birthday' + i">請輸入生日</label>
            <input
              type="text"
              [id]="'birthday' + i"
              class="form-control"
              formControlName="birthday"
              placeholder="yyyy/mm/dd"
            />
          </div>
          <h3>請選擇興趣</h3>
          <div class="form-group" formGroupName="interest">
            <label [for]="'movie' + i">
              <input
                type="checkbox"
                [id]="'movie' + i"
                formControlName="movie"
                value="movie"
              />
              電影
            </label>
            <label [for]="'music' + i">
              <input
                type="checkbox"
                [id]="'music' + i"
                formControlName="music"
                value="music"
              />
              音樂
            </label>
            <label [for]="'technology' + i">
              <input
                type="checkbox"
                [id]="'technology' + i"
                formControlName="technology"
                value="technology"
              />
              技術
            </label>
            <label [for]="'sports' + i">
              <input
                type="checkbox"
                [id]="'sports' + i"
                formControlName="sports"
                value="sports"
              />
              運動
            </label>
            <label [for]="'games' + i">
              <input
                type="checkbox"
                [id]="'games' + i"
                formControlName="games"
                value="games"
              />
              遊戲
            </label>
          </div>
          <h3>性別</h3>
          <div class="form-group">
            <label [for]="'male' + i">
              <input
                type="radio"
                [id]="'male' + i"
                formControlName="sex"
                value="male"
              />
              漢子
            </label>
            <label [for]="'female' + i">
              <input
                type="radio"
                [id]="'female' + i"
                formControlName="sex"
                value="female"
              />
              妹子
            </label>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-default" (click)="add()">
      下一位
    </button>
  </form>
</div>

<pre>
  {{ formAr.controls["length"] }}
  {{ form.value | json }}
</pre>
